body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-image: url("img/back-paper.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.container{
	font-family: Verdana, georgia, "times new roman", times, serif;
	background-color: white;
	opacity: 0.8;
	width: 1024px;
	margin: auto;
	height: 100%;
}

.header{
	border-bottom: double 2px;
}

.title{
	width: 100%;
	text-align: center;
}

.undertitle{
	width: 100%;
	text-align: center;
}

.menu{
	width: 100%;
	border-bottom: double 2px;
	text-align: center;
}

.menu li{
	display: inline-block;
}

.content{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.main_content{
	width: 750px;
	display: inline-block;
	padding: 10px;
	margin: 0px;
	vertical-align: top;
}

.left_content{
	width: 100px;
	display: inline-block;
	padding: 10px;
	margin: 0px;
	vertical-align: top;
}

.right_content{
	width: 100px;
	display: inline-block;
	padding: 10px;
	margin: 0px;
	vertical-align: top;
}

.footer{

}
